<section class="grafana-metric-options">
	<div class="tight-form last">
		<ul class="tight-form-list">
			<li class="tight-form-item tight-form-item-icon">
				<i class="fa fa-info-circle"></i>
			</li>
			<li class="tight-form-item">
				<a ng-click="toggleEditorHelp(1);" bs-tooltip="'click to show helpful info'" data-placement="bottom">
					Single Stats
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
</section>

<div class="editor-row">
	<div class="pull-left" style="margin-top: 30px;">
		<div class="grafana-info-box span6" ng-if="editorHelpIndex === 1">
			<h5>Single Stats</h5>
			<blockquote>To get the current value of the metric selected, Click on the <strong>Options</strong> tab above
				and set the <strong>Big Value's</strong> value to <strong>"current"</strong>.</blockquote>
		</div>
	</div>
</div>